OpenSubtitlesContract/Requests/Schema/ServerInfoRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="methodCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="methodName" type="xs:string" />
        <xs:element name="params" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>